node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.vscode
.DS_Store
# Local Netlify folder
.netlify
# github workflows
.github
.vercel

# Local archives
*.tgz
*.zip



# todo files
*todo.md

# status sh and txt files
status.sh
STATUS.txt
STATUS2.txt
typecheck-output.txt

# project specific cheatsheets
*CHEATSHEET.md
