@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Play-Bold";
  src: url("/fonts/Play-Bold.ttf");
}

@font-face {
  font-family: "Mulish-Semibold";
  src: url("/fonts/Mulish-SemiBold.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter-Medium";
  src: url("/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter-Regular.ttf");
}



@layer base {
  :root {
    --color-primary: 248 132 37;
    --color-secondary: 49 98 245;
    --color-accent: 246 236 73;
    --color-dark: 37 49 68;
    --color-light: 255 255 255;
    --color-blackdrop: 0 0 0;

    font-size: 16px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
  }


  main { flex-grow: 1; font-size: clamp(1rem, -4vw + 6rem, 4rem); }
  header, footer { flex-shrink:0;}

  h1, h2, h3, h4, h5, h6, label {
    font-variant-caps: small-caps;
    font-weight: 600;
    color: rgb(255 255 255);
    }
}

h1{ max-width: 650px; margin-block: 0.4rem 0.8rem; font-size: 2.2rem; line-height: 1;}
h2{ max-width: 500px;margin-block: 0.4rem 0.8rem; font-size: 2rem; line-height:1;}
h3{ max-width: 700px;margin-block: 1.5rem 0.8rem; font-size: 1.8rem; line-height: 1.2;}
h4{ max-width: 700px;margin-block: 0.2rem; font-size: 1.6rem;}

p{ max-width: 700px;margin-block: 0.4rem 0.8rem; font-size: 1rem; color: rgb(255 255 255)}